.transparent-navbar{
    background-color: none !important;
}

.border-grey{
    border: 1px solid rgb(200, 200, 200) !important;
}
.text-black{
    color: black !important;
}

.center-div{
    margin: 0 auto;
}
.border-none{
    border: none;
}
.inline-block{
    display: inline-block;
}

.bg-black{
    background-color: black;
}

.bg-white{
    background-color: white;
}

.text-yellow{
    color: rgb(255, 145, 0)
}

.text-grey{
    color: rgb(128, 128, 128);
}

.text-grey-light{
    color: rgb(195, 195, 195);
}

.bg-yellow{
    background-color: rgb(255, 145, 0);
}

.bg-grey{
    background-color: rgb(128, 128, 128);
}

.big-picture{
    position: relative;
    /* background-image: linear-gradient(
		to right, 
		rgba(0, 0, 0, 0.2), 
        rgba(0,0,0,0.2)) , 
        url('../images/benjamin-voros-260869-unsplash.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: cover;
    height: 85vh;  */
    width: 100%;
}

.navbar--container{
    height: 60px;
    background-color: black;
}

.slides--inner-text{
    margin-top: 100px;
    width: 100%;
    position: absolute;
    top:0;
}


.shop-now--button{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 179, 0);
    color: #fff;
    float: left;
}

.shop-now--text{
    overflow: hidden;
    position: relative;
    top: 0.5rem;
    margin-left: 20px;
    font-weight: 500;
}

.bottom-highlights{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    /* background-color: red; */
    
}

.bottom-highlights--inner---first-column{
    max-width: 6rem;
}

.bottom-highlights--inner{
    height: inherit;
    background-color: #ffffff;
    width: 80%;
    border-top-right-radius: 50px;
    float: left;
}

.bottom-highlights--inner---icon{
    background-color:  rgba(251, 163, 0, 0.157);
    height: 35px;
    width: 35px;
    padding-top:3px !important;
    padding-left: 8.75px;
    padding-right: 8.75px;
    padding-bottom: 8.75px;
    border-radius: 10px;
    color: rgb(251, 163, 0);
    float: left;
}

.bottom-highlights--inner---text{
    margin-left: 45px;
}

.bottom-highlights--inner---text p {
    font-size: 13px;
    color: rgb(109, 109, 109);
}

/* .bottom-highlights--inner-two{
    
} */

.bottom-highlights--inner-arrow-left{
    background-color: #ffffff;
    border: none;
    margin-left: 30px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    opacity: 0.4;
}

.bottom-highlights--inner-arrow-right{
    background-color: #ffffff;
    border: none;
    margin-left: 30px;
    height: 40px;
    width: 40px;
    border-radius: 5px;

}

.new-arrival-container{
    width: inherit;
    height: 300px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 5px 20px 20px #dadada70;
    border-radius: 10px;
    position: relative;
}

.new-arrival-container img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    /* height: auto; */
}

.new-arrival-overlay{
    position: absolute;
    top:0;
    background-color: #00000044;
    height: inherit;
    width: inherit; 
    color:#fff;
}

.overlay-content{
    margin-left: 10%;
    position: absolute;
    bottom: 40px;
}

.overlay-content h5{
    font-weight: 400;
    /* font-size: 18px; */
}

.overlay-content button{
    margin-top: 10px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 13px;
}

.for-you{
    overflow: hidden;
    clear: both;
}

.for-you h5{
    float: left;
}

.for-you button{
    float: right;
    background-color: #ffffff;
    border-radius: 25px;
    font-weight: 500;
    padding: 10px;
    border: 1px solid #aaaaaa;
    font-size: 13px;
}

.for-you--images{
    overflow: hidden;
    clear: both;
}


.for-you--image-container img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    border: 1px solid rgb(216, 214, 214);
}



/*------------------------------- vertical carousel indicators ------------------------------*/
.home-carousel-indicators{
    position: unset;
    margin: 0;
    float: left;
    /* left:0; */
    right: unset !important;
    bottom: unset !important;
    /* height: 100%; */
    /* width: 85vh; */
    /* bottom:0; */
    /* margin:auto; */
    /* height:20px; */
    /* right:auto; left:0; */
    /* width:auto; */
    margin-right:-10em;/* remove this if you do not want see span overflow; */
    -webkit-transform: rotate(90deg) translatey(-10px);
    -moz-transform: rotate(90deg) translatey(-10px) ;
    -ms-transform: rotate(90deg) translatey(-10px) ;
    -o-transform: rotate(90deg) translatey(-10px) ;
    transform: rotate(90deg) translatey(-10px);
    transform-origin: center left;
}

.home-carousel-item img{
    height: 85vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.home-carousel-indicators li{
    /* display:block; margin-bottom:0;  */
    margin: 0;
    border:1px solid #ffffff; 
    width: 15vh;
    border-radius: 0px;
}


.home-carousel-indicators li.active{
    margin-bottom:5px; background:#ffffff;
    
}

.home-carousel-item, .home-carousel-inner, .home-carousel, .fill {
    min-height: 0 !important;
    /* background-color: red; */
    /* position: relative; */
}

.slide{
    position: relative;
}



.list--items{
    font-size: 14px;
}


.old-price{
    color:rgb(168, 168, 168) !important;
    padding-left: 10px;
}


/* --------------- Product Page -------------- */
/* -------------------------------------------- */
.routes-path{
    color: grey;
    font-weight: 400;
    margin-top: 20px;
}
.product-image--small{
    width: 80px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
}

.product-image-container{
    width: 400px;
    /* height: 300px; */
}

.product-image-container img{
    width: inherit;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
}

.sale-notice{
    float: left;
    background-color: rgb(255, 145, 0);
    color: black;
    /* padding: 5px ; */
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

.sale-notice h6{
    font-weight: 400
}

.product-id{
    float: right;
    text-align: right;
    color: grey;
}

.color-palette{
    border: 1px solid grey;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    padding: 4px;
    float: left;
    margin-right: 10px;
}

.color-palette div{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    /* background-color: black; */
}

.choose-size-button{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 50px;
    border: 1px solid grey;
    background-color: white;
}

.choose-size-button a{
    float: left;
    color: grey;
}

.choose-size-button span{
    padding-left: 30px;
    color: grey
}

.quality-button{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    height: 40px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    background-color: white;
    border: 1px solid grey;
}

.quality-button h6{
    position: relative;
    top: 3px;
}

.add-to-cart-button{
    /* padding-top: 5px;
    padding-bottom:10px; */
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 25px;
    background-color: rgb(255, 145, 0);
    border: none;
}

.favorite-button{
    height: 40px;
    width: 40px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 20px;
}

.tabs-container{
    margin-top: 100px;
    /* margin-bottom:50px; */
    height: 400px;
}

.tabs-container ul>li>.active{
    color:black!important;
    border-radius: 50px;
    border: 1px solid rgb(255, 145, 0);
    background-color: white!important;
    /* font-weight: 500; */
}

.tabs-container ul>li>a{
    color: grey;
    font-size: 13px;
}

.tabs-container ul{
    /* background-color: red; */
    max-width: fit-content;
    margin:0 auto;
}

.file-icon{
    font-size: 50px;
    color: rgb(206, 206, 206);
    text-align: center;
}

.file-icon h5{
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.product-details-text{
    margin-top: 40px;
    text-align: center;
    color: black;
}

.star-score-container{
    /* background-color: blue; */
    max-width: fit-content;
    margin: auto;
}


.star-line{
    margin-left: 10px;
    width: 100px;
    height: 2px;
    background-color: rgb(255, 145, 0);
    display: inline-block;
    position: relative;
    bottom: 0.1rem
    /* border-radius: 25px; */
}

.add-opinion{
    width: fit-content;
    margin:auto;
    margin-top: 40px;
}

.review-user-icon-container{
    width: fit-content;
    /* background-color: red; */
    float: left;
}

.review-user-icon-container img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}


.review-username-container{
    display: inline-block;
    margin-left: 20px;
}

.inline-stars{
    position: relative;
    bottom: 10px;
}

.review-comment{
    max-width: 300px;
}


/* ----------------- Cart -----------------
---------------------------------------- */
.first-cart-container h1{
    float: left;
    font-size: 18px;
    position: relative;
    top: 0.6rem;
}
.first-cart-container div{
    float: right;
}

.line-seperator{
    display: inline-block;
    width: 5rem;
    position: relative;
    top: 0.6rem;
    margin-left: 10px;
    margin-right: 10px;
}
.cart-item img{
    height: 60px;
    width: 60px;
    border: 1px solid rgb(200, 200, 200);;
    border-radius: 50px;
    padding: 5px
}

.cart-item div{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 40px;
}
.cart-item div>p{
    margin:0;
    color: grey;
}

.cart-table{
    width: 100%;
}
.cart-headings{
    /* border-spacing: 100px; */
    /* background-color: red; */
    height: 50px
}

.cart-progress-icon{
    background-color: rgb(255, 179, 0);
    width: 40px;
    height: 40px;
    /* padding: 7px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    border-radius: 20px; 
    color: white;
    border: none;
}

.cart-progress-icon-outline{
    width: 40px;
    height: 40px;
    color: rgb(255, 179, 0);
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid rgb(255, 179, 0);
}

.add-reduce{
    border: 1px solid grey;
    max-width: fit-content;
    border-radius: 50px;
}
.add-reduce span{
    padding-left: 5px;
    padding-right:5px;
}

.add-reduce button{
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
}

.promo-code-input{
    padding-left: 20px;
    /* padding-top: 10px; */
    height: 40px;
    /* padding-bottom:10px; */
    padding-right:10px;
    border-radius: 200px;
    border: 1px solid rgb(200, 200, 200);
}

.cart-total-cost{
    color: grey;
    text-align: center;
}

.cart-total-cost span{
    margin-left: 20px;
    color: black;
}

.cart-action-button{
    max-width: fit-content;
}

.cart-action-button button{
    padding: 10px;
    border-radius: 10rem;
    margin-left: 10px;
    border: none;
    font-size: 13px;
}


/* ---------------- Footer ------------------- */
/* ------------------------------------------- */
.footer-email{
    border-radius: 25px;
    border: 1px solid rgb(168, 168, 168);
    padding: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
}

.footer-email:hover{
    border-radius: 25px;
}
.subscribe-button{
    border-radius: 25px;
    border: none;
    background-color: rgb(255, 179, 0);
    font-size: 13px;
    padding: 8px;
    margin-top: 10px;
    /* margin-left: 10px; */
}